__pycache__/
*.pyc
.ipynb_checkpoints/

passwd_hse
auth_key.pem

.venv/
venv/
.env

.cache/
.cache_*/
huggingface/
hf_cache/
vllm_cache/

logs/*
!logs/.gitkeep

outputs/*
!outputs/.gitkeep
cluster_outputs/*
cluster_outputs_2/*
cluster_outputs_3/*

datasets/*
!datasets/.gitkeep

containers/*
!containers/*.def
!containers/Dockerfile.*

dist/
models/
checkpoints/
wandb/
runs/

*.out
*.err
*.log

.DS_Store
*.tar.gz

unsloth_compiled_cache
