__pycache__/
*.pyc
.ipynb_checkpoints/

passwd_hse
auth_key.pem

.venv/
venv/
.env

.cache/
.cache_*/
huggingface/
hf_cache/
vllm_cache/

logs/*
!logs/.gitkeep

outputs/*
!outputs/.gitkeep

datasets/*
!datasets/.gitkeep

models/
checkpoints/
containers/
wandb/
runs/

*.out
*.err
*.log

.DS_Store
